$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$white: #fff;

//sidebar
$menuBg:#304156;

$color_4350D8: #4350d8;
$color_6B77ED: #6B77ED; // 背景色：左侧导航栏顶部,Tags，表单边框色,登录按钮
$color_6570E3: #6570E3; // 字体色：左侧导航菜单字体激活颜色
$color_F4F5F7: #F4F5F7; // 背景色: 左侧菜单
$color_E2E4E9: #E2E4E9; // 背景色：左侧菜单hover
$color_172B4D: #172B4D; // 字体色: 默认,表头字体色
$color_E2E4E9: #E2E4E9; // 背景色: 表头
// $color_17cffa: #17cffa; // 背景色: 按钮
$color_f8f8f8: #f8f8f8; // 背景色：详情页
$color_36cff6: #36cff6; // 背景色: 按钮
$color_6671e0: #6671e0; // 背景色: 按钮
$color_f3ad62: #f3ad62; // 背景色: 按钮

/* 按钮悬停色 */
$color_606ad6: #606ad6; // 背景色: 按钮
$color_51cae9: #51cae9; // 背景色: 按钮
$color_e9a65e: #e9a65e; // 背景色: 按钮
$color_ea6a6a: #ea6a6a; // 背景色: 按钮
